mixin comments
 section.gradient-custom
  .container.my-5.py-5
    .row.d-flex.justify-content-center
      .col-md-12.col-lg-10.col-xl-8
        .card
          .card-body.p-4
            h4.text-center.mb-4.pb-2 Comentarios
            .row
              .col
                .d-flex.flex-start
                  img.rounded-circle.shadow-1-strong.me-3(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp' alt='avatar' width='65' height='65')
                  .flex-grow-1.flex-shrink-1
                    div
                      .d-flex.justify-content-between.align-items-center
                        p.mb-1
                          | Maria Smantha 
                          span.small - 2 hours ago
                        a(href='#!')
                          i.fas.fa-reply.fa-xs
                          span.small  reply
                      p.small.mb-0
                        | It is a long established fact that a reader will be distracted by
                        | the readable content of a page.
                    .d-flex.flex-start.mt-4
                      a.me-3(href='#')
                        img.rounded-circle.shadow-1-strong(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp' alt='avatar' width='65' height='65')
                      .flex-grow-1.flex-shrink-1
                        div
                          .d-flex.justify-content-between.align-items-center
                            p.mb-1
                              | Simona Disa 
                              span.small - 3 hours ago
                          p.small.mb-0
                            | letters, as opposed to using &apos;Content here, content here&apos;,
                            | making it look like readable English.
                    .d-flex.flex-start.mt-4
                      a.me-3(href='#')
                        img.rounded-circle.shadow-1-strong(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp' alt='avatar' width='65' height='65')
                      .flex-grow-1.flex-shrink-1
                        div
                          .d-flex.justify-content-between.align-items-center
                            p.mb-1
                              | John Smith 
                              span.small - 4 hours ago
                          p.small.mb-0
                            | the majority have suffered alteration in some form, by
                            | injected humour, or randomised words.
                .d-flex.flex-start.mt-4
                  img.rounded-circle.shadow-1-strong.me-3(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp' alt='avatar' width='65' height='65')
                  .flex-grow-1.flex-shrink-1
                    div
                      .d-flex.justify-content-between.align-items-center
                        p.mb-1
                          | Natalie Smith 
                          span.small - 2 hours ago
                        a(href='#!')
                          i.fas.fa-reply.fa-xs
                          span.small  reply
                      p.small.mb-0
                        | The standard chunk of Lorem Ipsum used since the 1500s is
                        | reproduced below for those interested. Sections 1.10.32 and
                        | 1.10.33.
                    .d-flex.flex-start.mt-4
                      a.me-3(href='#')
                        img.rounded-circle.shadow-1-strong(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp' alt='avatar' width='65' height='65')
                      .flex-grow-1.flex-shrink-1
                        div
                          .d-flex.justify-content-between.align-items-center
                            p.mb-1
                              | Lisa Cudrow 
                              span.small - 4 hours ago
                          p.small.mb-0
                            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                            | scelerisque ante sollicitudin commodo. Cras purus odio,
                            | vestibulum in vulputate at, tempus viverra turpis.
                    .d-flex.flex-start.mt-4
                      a.me-3(href='#')
                        img.rounded-circle.shadow-1-strong(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp' alt='avatar' width='65' height='65')
                      .flex-grow-1.flex-shrink-1
                        div
                          .d-flex.justify-content-between.align-items-center
                            p.mb-1
                              | Maggie McLoan 
                              span.small - 5 hours ago
                          p.small.mb-0
                            | a Latin professor at Hampden-Sydney College in Virginia,
                            | looked up one of the more obscure Latin words, consectetur
                    .d-flex.flex-start.mt-4
                      a.me-3(href='#')
                        img.rounded-circle.shadow-1-strong(src='https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp' alt='avatar' width='65' height='65')
                      .flex-grow-1.flex-shrink-1
                        div
                          .d-flex.justify-content-between.align-items-center
                            p.mb-1
                              | John Smith 
                              span.small - 6 hours ago
                          p.small.mb-0
                            | Autem, totam debitis suscipit saepe sapiente magnam officiis
                            | quaerat necessitatibus odio assumenda, perferendis quae iusto
                            | labore laboriosam minima numquam impedit quam dolorem!
