mixin footer
  footer.text-center.text-lg-start.bg-light.text-muted
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
      | &copy; 2022 Copyright:
      a.text-reset.fw-bold.m-2(href='rodolfofrias.dev') Rodolfo Frias
